{%  load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Delicious fantasy</title>
    <link rel="stylesheet" href="{% static "main/css/main2.css" %}">
</head>
<body>

    <div style="width: 100%; height: 100%; position: relative; background: #DCB276">
        <img style="width: 300px; height: 150px; left: 37px; top: 17px; position: absolute; border-radius: 104px" src="https://via.placeholder.com/300x150" />
        <div style="width: 179px; height: 44px; left: 844px; top: 1011px; position: absolute">
            <div style="width: 179px; height: 44px; left: 0px; top: 0px; position: absolute; background: #D8C0C0"></div>
            <div style="width: 105px; height: 25.14px; left: 40px; top: 9px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Сохранить </div>
        </div>
        <div style="width: 913px; height: 839px; left: 477px; top: 154px; position: absolute">
            <div style="left: 377px; top: 0px; position: absolute; color: black; font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">Рецепт</div>
            <div style="width: 913px; height: 777px; left: 0px; top: 58px; position: absolute; background: #CC8E38; border: 1px black solid"></div>
            <div style="left: 15px; top: 656px; position: absolute"><span style="color: #CCCACA; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Здесь вы пишите какой это тип блюд: первое, второе, закуски, десерты, напитки</span><span style="color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">  </span></div>
            <div style="left: 22px; top: 627px; position: absolute"><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Первое </span><span style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word"> </span></div>
            <div style="left: 15px; top: 579px; position: absolute; color: #CCCACA; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Каждый ингредиент вводите с новой строки и обязательно в таком порядке: название ингредиента - количество</div>
            <div style="width: 472px; height: 120px; left: 15px; top: 453px; position: absolute; background: #D8C0C0"></div>
            <div style="left: 15px; top: 408px; position: absolute; color: #CCCACA; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">1-2 предложения, анонсирующих рецепт, как готовить </div>
            <div style="width: 130px; height: 23px; left: 15px; top: 234px; position: absolute; background: #D8C0C0; border: 1px #D8C0C0 solid"></div>
            <div style="left: 19px; top: 237px; position: absolute"><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Выберите файл</span><span style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word"> </span></div>
            <div style="left: 11px; top: 207px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Фото готового блюда:<br/></div>
            <div style="left: 15px; top: 186px; position: absolute; color: #CCCACA; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Название блюда должно начинаться с большой буквы, а далее маленькими буквами</div>
            <div style="left: 20px; top: 160px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Гусиная печень</div>
            <div style="width: 472px; height: 25px; left: 15px; top: 155px; position: absolute; border: 1px black solid"></div>
            <div style="width: 472px; height: 25px; left: 15px; top: 155px; position: absolute; border: 1px black solid"></div>
            <div style="left: 12px; top: 133px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Название блюда:</div>
            <div style="left: 15px; top: 114px; position: absolute; color: #CCCACA; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Укажите, к какой кухне относиться блюдо </div>
            <div style="width: 472px; height: 25px; left: 15px; top: 84px; position: absolute; border: 1px black solid"></div>
            <div style="width: 472px; height: 25px; left: 15px; top: 624px; position: absolute; border: 1px black solid"></div>
            <div style="width: 472px; height: 25px; left: 15px; top: 698px; position: absolute; border: 1px black solid"></div>
            <div style="width: 472px; height: 25px; left: 15px; top: 772px; position: absolute; border: 1px black solid"></div>
            <div style="left: 12px; top: 63px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Национальные кухни;</div>
            <div style="left: 20px; top: 89px; position: absolute"><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Франция</span><span style="color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word"> </span></div>
            <div style="left: 11px; top: 264px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Текстовое описание:</div>
            <div style="width: 472px; height: 115px; left: 15px; top: 287px; position: absolute; background: #D8C0C0"></div>
            <div style="left: 15px; top: 287px; position: absolute"><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Это шикарная и прекрасная еда. Подойден на все времена </span><span style="color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word"> </span></div>
            <div style="left: 12px; top: 430px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Ингредиенты:</div>
            <div style="left: 12px; top: 601px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Типы блюд:</div>
            <div style="left: 12px; top: 675px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Тип приготовления:</div>
            <div style="left: 15px; top: 730px; position: absolute"><span style="color: #CCCACA; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Здесь вы пишите в чем вы приготовили блюдо</span><span style="color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word"> </span></div>
            <div style="left: 12px; top: 749px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Было готово за:</div>
            <div style="left: 15px; top: 801px; position: absolute; color: #CCCACA; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Общее время приготовления в мин.</div>
            <div style="left: 12px; top: 820px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">  </div>
        </div>
        <div style="width: 1215px; height: 150px; left: 373px; top: 4px; position: absolute">
            <div style="width: 1215px; height: 150px; left: 0px; top: 0px; position: absolute; background: #CC8E38; border: 1px black solid"></div>
            <div style="width: 900px; height: 45px; left: 106px; top: 10px; position: absolute">
                <div style="width: 899.54px; height: 44.22px; left: 0px; top: 0.39px; position: absolute; background: white; border: 1px black solid"></div>
                <img style="width: 55.27px; height: 45px; left: 844.73px; top: 0px; position: absolute" src="https://via.placeholder.com/55x45" />
            </div>
            <div style="width: 266px; height: 47px; left: 492px; top: 81px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Понравилось</div>
            <div style="left: 796px; top: 81px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Главное </div>
            <div style="width: 116px; height: 47px; left: 338px; top: 81px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Кухни</div>
            <div style="width: 189px; left: 111px; top: 81px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 700; text-decoration: underline; word-wrap: break-word"> Рецепты</div>
            <div style="width: 100px; height: 50px; left: 1045px; top: 50px; position: absolute">
                <div style="width: 100px; height: 50px; left: 0px; top: 0px; position: absolute; background: #DCB276; border: 1px black solid"></div>
                <div style="left: 26px; top: 15px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Вход</div>
            </div>
        </div>
    </div>
</body>
</html>