{%  load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Delicious fantasy</title>
    <link rel="stylesheet" href="{% static "main/css/main2.css" %}">
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: #DCB276"> 
        <img style="width: 300px; height: 150px; left: 37px; top: 17px; position: absolute; border-radius: 104px" img src='{% static "main/img/logo.jpg" %}' /> 
        <div style="left: 785px; top: 150px; position: absolute; color: black; font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">Русская кухня  </div> 
        <div style="width: 777px; height: 863px; left: 571px; top: 217px; position: absolute"> 
            <div style="width: 777px; height: 862px; left: 0px; top: 1px; position: absolute; background: #CC8E38; border: 1px black solid"></div> 
            <div style="left: 9px; top: 343px; position: absolute; color: black; font-size: 16px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">1. Свеклу, морковку, лук и чеснок почистила, помыла и пустила на квадратики, не <br/>сильно мелкие. (У меня терка с квадратной формой.)<br/>2. На сковородку налила подсолнечного масла - и всю массу туда. Немного обжарить<br/> и залить водой (просто утопить).<br/>3. Засыпаем приправами и тушим на среднем огне до момента, пока не избавимся от <br/>большей части воды.<br/>4. Когда вода испарилась наполовину примерно, добавляем кукурузу или горошек.<br/>Если с курицей готовите - отправляйте ее на обжарку вместе с овощами и тушите <br/>тоже вместе с ними))))<br/>По консистенции "сухой" борщ должен получиться как рагу примерно))<br/>5. Когда блюдо готово - посыпьте свежей зеленью. Кушать "сухой" борщ можно и <br/>горячим, и холодным!<br/>Приятного аппетита!</div> 
            <div style="left: 214px; top: 312px; position: absolute; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Как приготовить "сухой" борщ:</div> 
            <div style="left: 235px; top: 274px; position: absolute; color: black; font-size: 16px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Лук репчатый - 1 шт. (крупная)</div> 
            <div style="left: 120px; top: 248px; position: absolute; color: black; font-size: 16px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Горошек или кукуруза (как пожелаете) консервированные</div> 
            <div style="left: 187px; top: 222px; position: absolute; color: black; font-size: 16px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Морковь - 3 шт. (нормальных таких)</div> 
            <div style="left: 225px; top: 193px; position: absolute"><span style="color: black; font-size: 16px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Свекла - 1 шт. (крупная</span><span style="color: black; font-size: 12px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">)</span></div> 
            <div style="left: 339px; top: 87px; position: absolute; color: black; font-size: 12px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Иванов Иванович </div> 
            <img style="width: 30px; height: 30px; left: 304px; top: 80px; position: absolute" img src='{% static "main/img/user.png" %}' /> 
            <div style="left: 342px; top: 122px; position: absolute; color: black; font-size: 12px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">140 мин</div> 
            <img style="width: 30px; height: 30px; left: 304px; top: 115px; position: absolute" img src='{% static "main/img/time.png" %}' /> 
            <img style="width: 300px; height: 150px; left: 0px; top: 0px; position: absolute" img src='{% static "main/img/borsch.jpg" %}' /> 
            <div style="left: 307px; top: 25px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Вкусный суп на всегда из легких ингредиентов </div> 
            <div style="left: 518px; top: 1px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Борщ</div> 
            <div style="left: 319px; top: 162px; position: absolute"><span style="color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Продукты</span><span style="color: white; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word"> </span></div> 
        </div> 
        <div style="width: 356px; height: 342px; left: 7px; top: 187px; position: absolute"> 
            <div style="width: 354px; height: 342px; left: 1px; top: 0px; position: absolute; background: #CC8E38"></div> 
            <div style="width: 354px; height: 342px; left: 1px; top: 0px; position: absolute; background: #CC8E38"></div>
            <div style="width: 356px; height: 35px; left: 0px; top: 22px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 700; text-decoration: underline; word-wrap: break-word"><a class="btn2" href="one_Russia">Рецепты первых блюд</a></div>
            <div style="width: 313px; height: 35px; left: 26px; top: 131px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="marinade_Russia">Рецепты маринадов</a></div>
            <div style="width: 342px; height: 34.67px; left: 3px; top: 75px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="two_Russia">Рецепты вторых блюд</a></div>
            <div style="width: 280px; height: 35px; left: 38px; top: 184px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="seasonings_Russia">Рецепты приправ</a></div>
            <div style="width: 267px; height: 35px; left: 41px; top: 237px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="snacks_Russia">Рецепты закусок</a></div>
            <div style="width: 274px; height: 34.67px; left: 33px; top: 293px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="desserts_Russia">Рецепты десертов</a></div>
        </div> 
        <div style="width: 1215px; height: 150px; left: 352px; top: 4px; position: absolute"> 
            <div style="width: 1215px; height: 150px; left: 0px; top: 0px; position: absolute; background: #CC8E38; border: 1px black solid"></div> 
            <div style="width: 900px; height: 45px; left: 106px; top: 10px; position: absolute"> 
                <div style="width: 899.54px; height: 44.22px; left: 0px; top: 0.39px; position: absolute; background: white; border: 1px black solid"></div> 
                <img style="width: 55.27px; height: 45px; left: 844.73px; top: 0px; position: absolute" img src='{% static "main/img/magnifier.png" %}' /> 
            </div> 
            <div style="width: 266px; height: 47px; left: 492px; top: 81px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="notlikes">Понравилось</a></div>
            <div style="left: 796px; top: 81px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="{% url 'home' %}">Главное</a></div>
            <div style="width: 116px; height: 47px; left: 338px; top: 81px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="kitchens">Кухни</a></div>
            <div style="width: 189px; left: 111px; top: 81px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 700; text-decoration: underline; word-wrap: break-word"><a class="btn2" href= "">Рецепты</a></div> 
            <div style="width: 100px; height: 50px; left: 1045px; top: 50px; position: absolute"> 
                <div style="width: 100px; height: 50px; left: 0px; top: 0px; position: absolute; background: #DCB276; border: 1px black solid"></div> 
                <div style="left: 26px; top: 15px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href= "registration">Вход</a></div> 
            </div> 
        </div> 
    </div>
</body>
</html>