{%  load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Delicious fantasy</title>
    <link rel="stylesheet" href="{% static "main/css/main2.css" %}">
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: #DCB276">
        <img style="width: 300px; height: 150px; left: 37px; top: 17px; position: absolute; border-radius: 104px" img src='{% static "main/img/logo.jpg" %}' />
        <div style="left: 744px; top: 166px; position: absolute; color: black; font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">Русская кухня топ  </div>
        <div style="width: 777px; height: 150px; left: 524px; top: 242px; position: absolute">
            <div style="width: 777px; height: 149px; left: 0px; top: 1px; position: absolute; background: #CC8E38; border: 1px black solid"></div>
            <img style="width: 300px; height: 150px; left: 0px; top: 1px; position: absolute" img src='{% static "main/img/borsch.jpg" %}' />
            <div style="left: 309px; top: 22px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Вкусный суп на всегда из легких ингредиентов </div>
            <div style="left: 518px; top: 1px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Борщ</div>
            <img style="width: 30px; height: 30px; left: 309px; top: 120px; position: absolute" img src='{% static "main/img/like.png" %}' />
            <div style="left: 685px; top: 124px; position: absolute; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word"><a class="btn" href= "recipe">Перейти</a></div>
        </div>
        <div style="width: 777px; height: 150px; left: 524px; top: 410px; position: absolute">
            <div style="width: 777px; height: 149px; left: 0px; top: 0px; position: absolute; background: #CC8E38; border: 1px black solid"></div>
            <div style="left: 309px; top: 22px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Вкусная еда навсегда </div>
            <div style="left: 407px; top: 0px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Картошка с котлетами </div>
            <img style="width: 30px; height: 30px; left: 309px; top: 119px; position: absolute" img src='{% static "main/img/like.png" %}' />
            <div style="left: 685px; top: 123px; position: absolute; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">перейти</div>
            <img style="width: 300px; height: 150px; left: 0px; top: px; position: absolute" img src='{% static "main/img/potatoes with cutlets.jpg" %}' />
        </div>
        <div style="width: 777px; height: 149px; left: 524px; top: 577px; position: absolute">
            <div style="width: 777px; height: 149px; left: 0px; top: 0px; position: absolute; background: #CC8E38; border: 1px black solid"></div>
            <div style="width: 449px; height: 48px; left: 309px; top: 24px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Горяченькие домашние пельмени, которые вы сделали <br/>своими руками. Сами. :) Это не сложно.</div>
            <div style="left: 414px; top: 0px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Домашние пельмени</div>
            <img style="width: 30px; height: 30px; left: 309px; top: 119px; position: absolute" img src='{% static "main/img/like.png" %}' />
            <div style="left: 685px; top: 123px; position: absolute; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">перейти</div>
        </div>
        <img style="width: 300px; height: 150px; left: 524px; top: 577px; position: absolute" src="https://via.placeholder.com/300x150" />
        <div style="width: 358px; height: 342px; left: 4px; top: 187px; position: absolute">
        <div style="width: 354px; height: 342px; left: 4px; top: 0px; position: absolute; background: #CC8E38"></div>
            <div style="width: 332px; height: 34.67px; left: 15px; top: 19px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="one_Russia">Рецепты первых блюд</a></div>
            <div style="width: 313px; height: 35px; left: 29px; top: 131px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="marinade_Russia">Рецепты маринадов</a></div>
            <div style="width: 342px; height: 34.67px; left: 6px; top: 75px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="two_Russia">Рецепты вторых блюд</a></div>
            <div style="width: 280px; height: 35px; left: 41px; top: 184px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="seasonings_Russia">Рецепты приправ</a></div>
            <div style="width: 267px; height: 35px; left: 44px; top: 237px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="snacks_Russia">Рецепты закусок</a></div>
            <div style="width: 274px; height: 34.67px; left: 36px; top: 293px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="desserts_Russia">Рецепты десертов</a></div>
        </div>
        <div style="width: 195px; left: 863px; top: 1044px; position: absolute">
            <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; background: #CC8E38"></div>
                <div style="left: 10px; top: 3px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">1</div>
            </div>
            <div style="width: 30px; height: 30px; left: 34px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; background: #CC8E38"></div>
                <div style="left: 9px; top: 3px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">2</div>
            </div>
            <div style="width: 30px; height: 30px; left: 68px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; background: #CC8E38"></div>
                <div style="left: 9px; top: 3px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">3</div>
            </div>
            <div style="width: 30px; height: 30px; left: 102px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; background: #CC8E38"></div>
                <div style="left: 9px; top: 3px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">4</div>
            </div>
            <div style="width: 30px; height: 30px; left: 165px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; background: #CC8E38"></div>
                <div style="left: 4px; top: 3px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">10</div>
            </div>
            <div style="left: 136px; top: 0px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">...</div>
        </div>
        <div style="width: 777px; height: 150px; left: 526px; top: 745px; position: absolute">
            <div style="width: 777px; height: 149px; left: 0px; top: 0px; position: absolute">
        <div style="width: 777px; height: 149px; left: 0px; top: 0px; position: absolute; background: #CC8E38; border: 1px black solid"></div>
                <div style="width: 468px; height: 31.88px; left: 309px; top: 39.94px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Самая простая уха - рецепт, который никогда не подводит.<br/>Рыбацкая уха - это всегда вкусно!</div>
                <img style="width: 30px; height: 25.17px; left: 309px; top: 123.83px; position: absolute" img src='{% static "main/img/like.png" %}' />
                <div style="width: 84px; height: 21.81px; left: 685px; top: 127.19px; position: absolute; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">перейти</div>
            </div>
            <img style="width: 300px; height: 150px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/300x150" />
        </div>
        <div style="width: 1215px; height: 150px; left: 352px; top: 4px; position: absolute">
            <div style="width: 1215px; height: 150px; left: 0px; top: 0px; position: absolute; background: #CC8E38; border: 1px black solid"></div>
            <div style="width: 900px; height: 45px; left: 106px; top: 10px; position: absolute">
                <div style="width: 899.54px; height: 44.22px; left: 0px; top: 0.39px; position: absolute; background: white; border: 1px black solid"></div>
                <img style="width: 55.27px; height: 45px; left: 844.73px; top: 0px; position: absolute" img src='{% static "main/img/magnifier.png" %}' />
            </div>
            <div style="width: 266px; height: 47px; left: 492px; top: 81px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="notlikes">Понравилось</a></div>
            <div style="left: 796px; top: 81px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="{% url 'home' %}">Главное</a></div>
            <div style="width: 116px; height: 47px; left: 338px; top: 81px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href="kitchens">Кухни</a></div>
            <div style="width: 189px; left: 111px; top: 81px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 700; text-decoration: underline; word-wrap: break-word"><a class="btn2" href= "">Рецепты</a></div>
            <div style="width: 100px; height: 50px; left: 1045px; top: 50px; position: absolute">
                <div style="width: 100px; height: 50px; left: 0px; top: 0px; position: absolute; background: #DCB276; border: 1px black solid"></div>
                <div style="left: 26px; top: 15px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="btn" href= "registration">Вход</a></div>
            </div>
        </div>
        <div style="left: 1054px; top: 751px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Уха</div>
    </div>
</body>
</html>
